@import "academicons/upstream";

@font-face {
    font-family: 'Academicons';
    src: url('../fonts/academicons/webfont.eot') format('embedded-opentype'),
	 url('../fonts/academicons/webfont.eot'),
	 url('../fonts/academicons/webfont.svg') format('svg'),
	 url('../fonts/academicons/webfont.ttf') format('truetype'),
	 url('../fonts/academicons/webfont.woff') format('woff');

    font-weight: normal;
    font-style: normal;
    font-display: block;
}
